.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1.5em;
  background-color: rgb(84, 207, 111);
  border-bottom: 1px solid rgb(212, 141, 34);
}

.title {
  transition: transform 0.3s ease;
  font-weight: bold;
}

.title:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.user-email{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  word-break: break-all;
  
}

.usuario-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-acciones{
  flex: 1 1 0;
  font-size: 1rem;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: none;
  transition: transform 0.3s ease ;
  font-weight: bold;  
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.btn-acciones:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.btn-carrito {
  background-color: rgb(187, 68, 68);
}


.btn-mi-cuenta{
  background-color: #619fdd;

}

@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  .usuario-container {
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 15px;
  }

  .btn-acciones {
    width: 100%; /* En PC recuperan su tamaño normal */
  }
}